modules = ["nodejs-20", "postgresql-16"]
run = "node production-server.cjs"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5002
externalPort = 3001

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"

[env]
NODE_ENV = "production"
